* {
	margin: 0;
	padding: 0;
}

.header {
	background-color: black;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	color: white;
	font-size: 40px;
	margin-left: 120px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.header__image {
	width: 50px;
	height: auto;
}

.header__selectors {
	margin-right: 120px;
}

#header__button {
	margin-right: 20px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: transparent;
	color: white;
	
}
  